$tablet-width: 600px
$desktop-width: 1024px

=tablet
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    @content

=desktop
  @media (min-width: $desktop-width)
    @content

=size($height, $width)
  height: $height
  width: $width

=flex($direction)
  display: flex
  flex-direction: $direction
  align-items: center
  justify-content: center

.alloc-page
  height: calc(100vh - 66px)
  width: 90%
  padding: 0 5%

  .display
    padding: 0 20px 20px 20px
    +flex(row)
    flex-wrap: wrap

    .inputs
      +flex(column)
      +tablet
        padding: 0 20px
      +desktop
        padding: 0 40px

  .buttons
    height: 40px
    padding-bottom: 30px
    +flex(row)
